.navbar-header{
    position: fixed;
    width: 100%;
    top: 0%;
    left:0%;
    background:  #FFCE25;
    z-index: 1;
    height: 75px;
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
}
.workshop-logo{
    padding-left: 3vh; 
}
.user-info{
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}
.user-info h4{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:200px;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    z-index: 2;
}
.user-info.active h4{
    color: #0097CC;
}
.user-info a{
    text-decoration: none;
    color: black;
}
.cart-info{
    margin-right: 8rem;
    margin-left: 6rem
}
.user-info div{
    position: absolute;
    transform: translate(-5%, +30%);
    width: 100%;
    padding:55px 25px 10px 5%;
    background: #FFFFFF;
    box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
}
@media (max-width:600px){
    .cart-info{
        margin-right: 2rem;
        margin-left: 4rem;
    }
    .user-info h4{
        display: none;
    }
    .user-info div{
        width: 8rem;
        transform: translate(-70%, +30%);
        align-items: flex-end
    }
}
@media (min-width:768px) and (max-width:992px){
    .cart-info{
        margin-right: 4rem;
        margin-left:3rem
    }
    .user-info h4{
        width:120px;
    }
}
@media (min-width:600px) and (max-width:768px){
    .cart-info{
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .user-info h4{
        width:120px;
    }
}