.workshops-container{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    margin-bottom: 2rem;
}
.workshops-header-container{
    display: flex;
    align-items: baseline;
}
.workshops-header{
    padding-left: 2rem;
}
.category-filter{
    padding: 3rem 0 0 2rem
}
.workshops-header p{
    color:#7F7F7F;
    font-size: 15px;
    margin-top: 0.4rem;
}
.workshops-header h1{
    font-size: 45px;
    margin-bottom: 0;
}
.workshops-body-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}
.load-more{
    background: #0097CC;
    box-shadow: 2px 4px 8px rgba(13, 13, 13, 0.15);
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    width: 200px;
    height: 60px;
    color: white;
}
.load-button-container{
    display: flex;
    justify-content: center;
}
@media (max-width:768px) {
    .workshops-container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .workshops-body-container{
        justify-content: center;
        margin-right: 0
    }
    .workshops-header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .workshops-header{
        padding-left: 0;
    }
}
@media (min-width:768px) and (max-width:992px){
    .workshops-body-container{
        justify-content: center;
        margin-right: 0
    }
    .workshops-container{
        grid-template-columns: 20% 80%;
    }

}
@media (max-width:600px){
    .workshops-body-container{
        margin-right: 0;   
    }
    .load-more{
        width: 160px;
        height: 50px;
    }
}