.workshop-container{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 20% 80%;
}
.back-button{
    margin-left: 2rem;
}
.workshop-body{
    margin:0 2rem 0 2rem;
}
.workshop-info-container{
    display: flex;
    align-items: flex-start;
    margin-top: 1.5rem;
}
.recomended{
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
    background: #F2F2F2;
    margin-top: 4rem;
    padding: 0 1rem;
    flex-direction: column
}
.recomended-card{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row
}
.workshop-info-container{
    margin-top:2.5rem;
}
@media (max-width:600px){
    .workshop-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .back-button {
        margin-bottom: 1rem;
    }
    .workshop-info-container{
        flex-direction: column;
    }
}
@media (max-width:992px){
    .workshop-info-container{
        flex-direction: column;
    }
}