.info-container{
    width:280px;
    position: fixed;
    left:50%;
    right: 50%;
    top: 50%;
    background: #FFFFFF;
    box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.25);
    border-radius: 16px;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-button{
    background-color: #FFC80C;
    border: 0;
    border-radius: 8px;
    height: 60px;
    width: 160px;
    box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
    font-family: 'Livvic', sans-serif;
    font-weight: 700;   
    font-size: 20px;
    margin: 1rem 0 2rem 0;
}