.login-page-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}
.page-colors{
    position: fixed;
    bottom: 0;
    left: 0;
}
.logo{
    margin: 4rem 0 0 5rem;
}
@media (max-width:600px){
    .logo-yellow{
        margin: 3rem 3rem 0 0;
    } 
    .logo{
        display: none;
    }
}
@media (max-height:842px){
    .page-colors{
        display: none;
    }  
}
@media (min-width:600px) and (max-width:768px){
    .logo-yellow{
        margin: 3rem 5rem 0 0;
    }
    .logo{
        display: none;
    }
}
@media (min-width:769px){
    .logo-yellow{
        display: none;
    }

}
@media screen and (max-width:768px) {
    .page-colors{
        display: none;
    }   
    .logo-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }  
    .login-page-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width:1200px) {
    .page-colors{
        width: 30%;
    }
}